
.avatar{
    width: 8rem;
    border-radius: 8rem;
    border:3px solid white;
    box-shadow: 0 0 2rem #450482;
}
h1{
    font-weight: 400;
    margin-top: 1rem;
}
.information{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.information p{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .3rem;
    font-size: 1.2rem;
}
.information p::before{
    content : '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-image: url('/img/icons_profile/people.svg');
    background-size: contain;
    margin-right: .5rem;
}
.information .people::before{
    background-image: url('/img/icons_profile/people.svg');
}
.information .location::before{
    background-image: url('/img/icons_profile/location.svg');
    height: 1.5rem;

}
.information .email::before{
    background-image: url('/img/icons_profile/email.svg');
}
.information .wpp::before{
    background-image: url('/img/icons_profile/wpp_profile.svg');
}
h2{
    font-weight: 200;
    margin-bottom: 2rem;
}
.profile{
    margin-top: 2rem;
    text-align: center;
}
.social{
    display: flex;
    justify-content: center;
    list-style: none;
}
.social img{
    width: 2.5em;
    margin: 1rem 1.8rem;
}
.links-list{
    list-style: none;
}
.links-list li{
    margin: 1rem 2rem;
}
.links-list li a{
    display: block;
    background:  #ffff;
    padding: 10px;
    border-radius: 1rem;
    text-decoration: none;
    color: #450482
}